footer{
    margin-top: 60px;
    padding: 100px;
    text-align: center;
    background: black;
}
.icon-twitter, .icon-facebook, .icon-instagram{
    color: #ffffff;
    font-size: 40px;
}

.icon-twitter:hover, .icon-facebook:hover, .icon-instagram:hover{
    color: #d7a3e4;
    cursor: pointer;
}